* {
    font-family: "Arial";
}
body {
    background-color: rgb(185, 220, 248);
}
header {
    background-color: rgb(165, 210, 248);
}
h1{
    text-align: center;
}
#weather_info {
    font-style: Tahoma;
    font-size: 16px;
}
.form-container {
    max-width: 400px;
    background-color: rgb(166, 200, 250);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.btn {
    background-color: rgb(16, 42, 94);
    color: rgb(243, 248, 255);
    padding: 10px 25px;
    border: 1px rgb(16, 42, 94) solid;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color: rgb(199, 220, 250);
    color: rgb(86, 153, 240);
    border: 1px rgb(86, 153, 240) solid;
}
