<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Info for your city</title>
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'images/logo_620x480-removebg-preview.png' %}" width="130px"/>
        </nav>
    </header>
    <div style="position: relative;">
        <p>Your city/country:</p>
        <p id="weather_info">
            City: {{ city_name }}<br>
            Country: {{ country }}<br>
            Current time: {{ current_time }}<br>
            Temperature: {{ temp }}<br>
            Feels like: {{ feels_like }}<br>
            Minimum temperature: {{ temp_min }}<br>
            Maximum temperature: {{ temp_max }}<br>
            Humidity: {{ humidity }}<br>
            Wind speed: {{ wind_speed }}<br>
            Weather description: {{ weather_desc }}
        </p>
    </div>
    <a href="{% url 'weather_app:index' %}" class="btn">Go back</a>
</body>
</html>