<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info for your city</title>
</head>
<body>
    <div style="position: relative;">
        <p>Your city/country:</p>
        <p id="weather_info">
            Місто: {{ city_name }}<br>
            Країна: {{ country }}<br>
            Час оновлений: {{ current_time }}<br>
            Температура: {{ temp }}<br>
            Відчувається як: {{ feels_like }}<br>
            Мінімальна температура: {{ temp_min }}<br>
            Максимальна температура: {{ temp_max }}<br>
            Вологість: {{ humidity }}<br>
            Швидкість вітру: {{ wind_speed }}<br>
            Опис погоди: {{ weather_desc }}
        </p>
    </div>
    <a href="{% url 'weather_app:index' %}">Go back</a>
</body>
</html>